body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;

}


.main {
    display: grid;
    grid-template-columns: repeat(3, 330px);

}

.display {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.display-2 {
    background-color: hsl(184, 100%, 22%);
}

.display-3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.display-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.display-container img {
    width: 50px;
    margin-bottom: 25px;
}

.display-container h2 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;

}

.display-container p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 150px;
    line-height: 28px;
    text-align: left;

}

button {
    border: none;
    outline: none;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.btn {
    color: hsl(31, 77%, 52%);
}

.btn-2 {
    color: hsl(184, 100%, 22%);
    
}

.btn-3 {
    color: hsl(179, 100%, 13%);
    
}

button:hover{
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
    border: 2px solid hsl(0, 0%, 95%);
}